name: fixit
description: FixIT ist eine App zur Meldung, Verarbeitung und Behebung von Fehlern

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 0.3.5+7

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Package f端r das App Icon
  flutter_launcher_icons: ^0.9.0
  # Allgemeine Packages
  path: ^1.8.0
  path_provider: ^2.0.1
  http: ^0.13.3
  url_launcher: ^6.0.4
  # after_layout: ^1.1.0
  # zum Formatieren von Datumsangaben
  intl: ^0.17.0
  # um den Status der Softwaretastatur zu checken
  flutter_keyboard_visibility: ^5.0.2
  # Package f端rs Local Persistence und State Management
  shared_preferences: ^2.0.5
  provider: ^5.0.0
  # f端r die IDs der Fehler
  uuid: ^3.0.4
  # f端rs Bilder machen, hochladen und anschauen
  image_picker: ^0.7.5+2
  camera: ^0.9.4+5
  package_info: ^2.0.0 
  photo_view: ^0.13.0
  overlay_support: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/fixit_icon.png" 


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - assets/fixit_icon.png
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
